## Importando libs

In [58]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Carregando base de dados

In [44]:
df=pd.read_csv('dados/lista-de-fiis.csv')

## Analise de dados

In [45]:
df.head()

   ticker     dy
0  AAGR11      -
1  AAZQ11  16,87
2  ABCP11   8,79
3  AFCR11      -
4  AFHI11  12,75

In [46]:
df.dtypes

ticker    object
dy        object
dtype: object

In [47]:
df.shape[0]

553

## Tratamento e preparação de dados

In [48]:
df['dy'] = df['dy']
    .str.replace('.', '') # retirando o '.' do milhar
    .str.replace(',', '.')# padronizando decimal
    .str.replace('-','0') # padronizando para 0 decimal

# toda a coluna para decimal
df['dy'] = df['dy'].astype(float)

In [49]:
df.head(3)

   ticker     dy
0  AAGR11   0.00
1  AAZQ11  16.87
2  ABCP11   8.79

In [50]:
df.dtypes

ticker     object
dy        float64
dtype: object

In [51]:
df.shape[0]

553

In [55]:
duplicadas = df.ticker.duplicated()
print(df[duplicadas])

Empty DataFrame
Columns: [ticker, dy]
Index: []

In [60]:
df.dy.describe()

count     553.000000
mean       12.852532
std        70.035276
min         0.000000
25%         0.000000
50%         8.060000
75%        11.890000
max      1233.330000
Name: dy, dtype: float64

In [76]:
df.to_csv('dados/lista-de-fiis_v2.csv',index=False)