## Relatório da exploração do dataset

- DY - Transformar valores para float.
- Nome - Tratar valores ausentes.
- Categoria - Padronizar valores.

## Carregando dados

In [1]:
import pandas as pd
df = pd.read_csv('dados/dados.csv')

## Primeiras linhas

In [2]:
df.head()

,Ticker,DY,Nome,Categoria
0,AAGR11,-,ASSET BANK AGRONEGÓCIOS FIAGRO IMOBILIARIO,Fiagro:
1,AAZQ11,"16,45",NaN,Fiagro: Fiagro
2,ABCP11,"8,62",Grand Plaza Shopping,Tijolo: Shoppings
3,AFCR11,-,NaN,Outros: Indefinido
4,AFHI11,"12,89",AF INVEST CRI,Papel: Papéis

## Campo - DY

In [18]:
df.groupby('DY')['Ticker'].count()

DY
-        188
0,05       1
0,09       1
0,12       1
0,17       1
        ...
9,80       1
9,82       1
9,86       1
9,88       1
96,95      1
Name: Ticker, Length: 349, dtype: int64

*Substituindo '-' por '0'*

In [20]:
df['DY'] = df['DY'].str.replace('-','0')

*Substituindo '.' por '' em possível formatação de milhar*

In [22]:
df['DY'] = df['DY'].str.replace('.','')

*Substituindo ',' por '.'*

In [24]:
df['DY'] = df['DY'].str.replace(',','.')

*Convertendo para float*

In [26]:
df['DY'] = df['DY'].astype(float)

*Primeiras linhas*

In [29]:
df.DY.head()

0     0.00
1    16.45
2     8.62
3     0.00
4    12.89
Name: DY, dtype: float64

*Resumo estatístico*

In [28]:
df.DY.describe()

count     581.000000
mean       12.117022
std        69.559046
min         0.000000
25%         0.000000
50%         7.360000
75%        11.740000
max      1233.330000
Name: DY, dtype: float64

## Campo - Nome

In [31]:
df['Nome'].isna().sum()

137

In [32]:
df['Nome'].fillna('-', inplace=True)

In [34]:
df['Nome'].isna().sum()

0

In [35]:
df['Nome'].head()

0    ASSET BANK AGRONEGÓCIOS FIAGRO IMOBILIARIO
1                                             -
2                          Grand Plaza Shopping
3                                             -
4                                 AF INVEST CRI
Name: Nome, dtype: object

## Campo - Categoria

In [40]:
df.Categoria.unique()

array(['Fiagro: ', 'Fiagro: Fiagro', 'Tijolo: Shoppings',
       'Outros: Indefinido', 'Papel: Papéis',
       'Tijolo: Lajes Corporativas', 'Sem categoria: ',
       'Papel: Fundo de Fundos', 'Fundo Misto: Misto',
       'Tijolo: Imóveis Residenciais', 'Fundos Imobiliários: ',
       'Tijolo: Imóveis Industriais e Logísticos',
       'Fundo Misto: Indefinido', 'Tijolo: Imóveis Comerciais - Outros',
       'Tijolo: Agências de Bancos', 'Tijolo: Hotéis',
       'Fundo Misto: Fundo de Desenvolvimento', 'Papel: ',
       'Tijolo: Varejo', 'Tijolo: Fundo de Desenvolvimento',
       'Tijolo: Educacional', 'Tijolo: Hospitalar', 'Fundo Misto: ',
       'Tijolo: ', 'Outros: Fundo de Desenvolvimento',
       'Fundos Imobiliários: Fundos Imobiliários', 'Fundo Misto: Papéis'],
      dtype=object)

In [39]:
df.Categoria.value_counts()

Categoria
Fundo Misto: Indefinido                     86
Papel: Papéis                               80
Tijolo: Lajes Corporativas                  64
Tijolo: Imóveis Industriais e Logísticos    45
Fundo Misto: Fundo de Desenvolvimento       43
Papel: Fundo de Fundos                      36
Sem categoria:                              34
Outros: Indefinido                          33
Tijolo: Shoppings                           32
Fundos Imobiliários:                        25
Fiagro: Fiagro                              23
Fundo Misto: Misto                          20
Fiagro:                                     16
Tijolo: Hospitalar                           6
Tijolo: Varejo                               6
Tijolo: Educacional                          5
Tijolo: Imóveis Comerciais - Outros          5
Tijolo: Imóveis Residenciais                 5
Tijolo: Hotéis                               4
Tijolo: Agências de Bancos                   4
Tijolo: Fundo de Desenvolvimento             3
Papel:                                       1
Fundo Misto:                                 1
Tijolo:                                      1
Outros: Fundo de Desenvolvimento             1
Fundos Imobiliários: Fundos Imobiliários     1
Fundo Misto: Papéis                          1
Name: count, dtype: int64

In [ ]:
categorias = {
    
    'Fundo Misto: Indefinido':'Fundo Misto',
    'Papel: Papéis': 'Papel',
    'Tijolo: Lajes Corporativas': 'Tijolo',
    'Tijolo: Imóveis Industriais e Logísticos':'Tijolo',
Fundo Misto: Fundo de Desenvolvimento       43
Papel: Fundo de Fundos                      36
Sem categoria:                              34
Outros: Indefinido                          33
Tijolo: Shoppings                           32
Fundos Imobiliários:                        25
Fiagro: Fiagro                              23
Fundo Misto: Misto                          20
Fiagro:                                     16
Tijolo: Hospitalar                           6
Tijolo: Varejo                               6
Tijolo: Educacional                          5
Tijolo: Imóveis Comerciais - Outros          5
Tijolo: Imóveis Residenciais                 5
Tijolo: Hotéis                               4
Tijolo: Agências de Bancos                   4
Tijolo: Fundo de Desenvolvimento             3
Papel:                                       1
Fundo Misto:                                 1
Tijolo:                                      1
Outros: Fundo de Desenvolvimento             1
Fundos Imobiliários: Fundos Imobiliários     1
Fundo Misto: Papéis                          1
    
}

## Analise de dados

In [5]:
df.dtypes

ticker    object
dy        object
dtype: object

In [4]:
df.shape[0]

553

## Tratamento e preparação de dados

In [13]:
df['dy'] = df['dy'].str.replace('.', '').str.replace(',', '.').str.replace('-','0') 
# retirando o '.' do milhar
# padronizando decimal
# padronizando para 0 decimal

# toda a coluna para decimal
df['dy'] = df['dy'].astype(float)

In [14]:
df.head(3)

   ticker     dy
0  AAGR11   0.00
1  AAZQ11  16.87
2  ABCP11   8.79

In [50]:
df.dtypes

ticker     object
dy        float64
dtype: object

In [51]:
df.shape[0]

553

In [55]:
duplicadas = df.ticker.duplicated()
print(df[duplicadas])

Empty DataFrame
Columns: [ticker, dy]
Index: []

In [60]:
df.dy.describe()

count     553.000000
mean       12.852532
std        70.035276
min         0.000000
25%         0.000000
50%         8.060000
75%        11.890000
max      1233.330000
Name: dy, dtype: float64

In [76]:
df.to_csv('dados/lista-de-fiis_v2.csv',index=False)